@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-draw {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 2s ease forwards;
}

.animate-fade-in {
  animation: fade-in 0.5s ease forwards;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.d-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.d-scrollbar::-webkit-scrollbar-thumb {
  background: #6366f1;
}

@keyframes animate-line {
  0% {
    stroke-dashoffset: 100%;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animate-line {
  0% {
    stroke-dashoffset: 100%;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.animate-line {
  animation: animate-line 5s linear infinite;
}
.animate-line-reverse {
  animation: animate-line 5s linear reverse infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(10px); /* Moves down 10px */
  }
  100% {
    transform: translateY(-2px); /* Moves back up to the original position */
  }
}

/* Apply the animation to your MoveDownIcon */
.animate-updown {
  animation: updown 1s ease-in-out infinite; /* 1s duration, infinite loop */
}

@keyframes arrow-slide-b {
  0% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(15px); /* Moves down 10px */
  }
  100% {
    transform: translateY(-2px); /* Moves back up to the original position */
  }
}
/* Apply animations to arrows */
.animate-arrow-b {
  animation: arrow-slide-b 1s ease-out infinite;
}

@keyframes arrow-slide-a {
  0% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(20px); /* Moves down 10px */
  }
  100% {
    transform: translateX(6px); /* Moves back up to the original position */
  }
}

.animate-arrow-a {
  animation: arrow-slide-a 1s ease-out infinite;
}

@keyframes arrow-slide-c {
  0% {
    transform: translateX(-6px);
  }
  50% {
    transform: translateX(-20px); /* Moves down 10px */
  }
  100% {
    transform: translateX(-6px); /* Moves back up to the original position */
  }
}

.animate-arrow-c {
  animation: arrow-slide-c 1s ease-out 0.5s infinite; /* Delay */
}

.high-quality-text {
  text-rendering: optimizeLegibility; /* This improves the legibility of text */
  font-smoothing: antialiased; /* This helps on macOS devices */
  -webkit-font-smoothing: antialiased; /* This helps on macOS devices */
  -moz-osx-font-smoothing: grayscale; /* This helps on macOS devices */
  color: rgb(255, 255, 255);
}
